@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

$body-font: 'Dosis', sans-serif;
$headers-font: 'Dosis', sans-serif;

body {
  font-family: $body-font;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
}

h1.main-title {
  margin-top: 0;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px black;
}
