.home-content {
  background-image: image-url("plants.jpeg");
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
  background-size: cover;
  padding: 10px;
  padding-top: 55px;
  background-attachment: fixed;
}
