.alert {
  position: absolute;
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
  bottom: 90px;
  right: 20px;
  font-weight: 700;
  display: flex;
  position: fixed;
  button {
    font-size: 16px;
    border: none;
    margin-left: 8px;
  }
  p {
    margin: 0;
  }
}

.alert-info {
  background-color: #064789;
  color: #fff;
  button {
    background-color: #064789;
    color: #fff;
  }
}

.alert-warning {
  background-color: #897506;
  color: #fff;
  button {
    background-color: #897506;
    color: #fff;
  }
}
