.footer {
  background-color: $green;
  position: absolute;
  bottom: 0;
  width: 100vw;
  color: #fff;
  height: $footer-height;
  font-size: 35px;
  display: flex;
  border-top: thin solid #fff;
  .menu-btn{
    width: 25vw;
    line-height: 75px;
    text-align: center;
  }
}
