.header {
  background-color: $green;
  height: $header-height;
  border-bottom: thin solid #fff;
  position: fixed;
  width: 100%;
  h1 {
    line-height: 55px;;
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    color: $light-gray;
    margin: 0;
  }
}
